---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main
      class:list={[
        "w-full",
        "h-[100vh]",
        "flex",
        "flex-col",
        "justify-center",
        "items-center",
        "bg-gradient-to-br",
        "from-emerald-400",
        "to-green-400",
        "font-mono",
        "align-middle",
      ]}
    >
      <slot />
    </main>
  </body>
</html>
